@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background: #ffffff;
   align-items: center;
}

.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#000000;
   margin-top: -20px;
   margin-bottom: 3rem;
   font-family: Georgia, serif;
   text-transform: uppercase;
   text-align: center;
}
.container .tagline{
   font-size: 3.5rem;
   margin-top: 30px;
   font-family: Georgia, serif;
   font-weight: 300;
   color:#000000;
   margin-bottom: 20px;
   text-align: center;
}
#carticon {
   font-size: 25px;
   margin-top: 15px;
   position: relative;
   display: flex;
   cursor:pointer;
   margin-left: 200vh;
   color: rgb(216, 90, 111);
}
#carticon .cart-item-count{
   position: absolute;
   margin-top: -10px;
   right: 23px;
   width:20px;
   justify-content: center;
   display: flex;
   visibility: hidden;
   color: white;
   font-size: 12px;
   align-items: center;
   height:20px;
   background: rgb(134, 17, 36);
   border-radius: 50%;
}
.cart{
   position: fixed;
   top: 0;
   right: -100%;
   height: 100%;
   width:360px;
   background: #ffffff;
   box-shadow: -2px 0 10px rgba(0,0,0,.8);
   padding:65px 20px 40px;
   z-index:100;
   transition: 0.5s;
   overflow: auto;
}
.cart.active{
right: 0;
}
.cart-tittle{
   text-align: center;
   font-size: 35px;
   color: rgb(216, 90, 111);
   font-family: monospace;
}
.cart-box{
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.cart-box img {
width: 100px;
height:100px;
border-radius: 6px;
object-fit:cover;
margin-right:20px;
}
.cart-detail{
   display:grid;
   gap:8px;
   margin-right:auto;

}
.cart-product-tittle{
   font-size:16px;
   line-height: 1;
}
.cart-price{
   font-size: 15px;
}
.cart-quantity{
   display:flex;
   width: 100px;
   border:1px soild #999;
   border-radius: 6px;
}
.cart-quantity button{
   background: transparent;
   width:30px;
   border: none;
   font-size: 20px;
   cursor: pointer;
}
.cart-quantity #decrement{
   color: #999;
   border-radius: 3px;
   border-left: 1px solid #999;
   border-bottom: 1px solid #999;
   border-top: 1px solid #999;
}
.cart-quantity #increment{
   color: #999;
   border-radius: 3px;
   border-right: 1px solid #999;
   border-bottom: 1px solid #999;
   border-top: 1px solid #999;
}
.cart-quantity .number{
   display:flex;
   cursor:default;
   justify-content: center;
   align-items: center;
   width:40px;
   border-bottom: 1px solid #999;
   border-top: 1px solid #999;
   border-left: 1px solid #999;
   border-right: 1px solid #999;
 
}
.cart-remove{
   font-size:20px;
   cursor: pointer;
}
.total{
   display:flex;
   justify-content: flex-end;
   align-items: center;
   border-top: 1px solid #999;
   margin-top:20px;
   font-size:15px;
}
.total-price{
   margin-left:10px;
   font-weight:600;
}
.btn-buy{
   display:block;
   border:none;
   border-radius: 6px;
   font-size:16px;
   padding:10px 15px;
   width: 100px;
   background: rgb(134, 17, 36);
   color: white;
   margin: 20px auto 0;
   cursor:pointer;
}
#cart-close{
   position: absolute;
   top:20px;
   right:15px;
   font-size:20px;
   cursor:pointer;
}
.tagline1{
   font-size: 3.5rem;
   margin-top: 50px;
   font-family: Georgia, serif;
   font-weight: 300;
   color:#000000;
   margin-bottom: 20px;
   text-align: center;
}
.container .products-container{
   display: grid;
   margin-top: 30px;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   background: rgb(255, 255, 255);
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.container .products-container .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.container .products-container .product img{
   height:350px;
}

.container .products-container .product:hover img{
   transform: scale(.9);
}

.container .products-container .product h3{
   padding:.5rem 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 2rem;
   color: rgb(255, 106, 131);
}

.container .products-container .product:hover h3{
   color: rgb(216, 90, 111);
}

.container .products-container .product .price{
   font-size: 2rem;
   color: rgb(255, 106, 131);
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 30rem;
}


.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   color:#f8f8f8;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#ebebeb;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color: rgb(216, 90, 111);
}

.products-preview .preview .stars span{
   color:#fcfcfc;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#f0f0f0;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color: rgb(255, 106, 131);
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#f5f5f5;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: rgb(216, 90, 111);
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #111;
}

.products-preview .preview .buttons a.buy:hover{
   background: rgb(216, 90, 111);
   color:#fff;
}
.coverimage{
    background-size: cover;  
    background-position: center; 
    height: 530px; 
    display: flex;
    margin-left: -120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}
.hero {
   background-size: cover;
   background-position: center;
   color: rgb(110, 110, 110);
   padding: 100px 20px;
}

.hero h1 {
   font-size: 50px;
   font-weight: 500;
   font-family: 'Courier New', Courier, monospace;
   margin: 0;
}

.hero p {
   font-size: 14px;
   margin-left: 60px;
   text-align: center;
   color: #444;
   margin-top: -60px;
}

/* Product Categories */
.categories {
   display: flex;
   justify-content: center;
   gap: 20px;
   flex-wrap: wrap;
   padding: 40px 20px;
}

.category {
   text-align: center;
   width: 150px;
}

.category img {
   width: 100px;
   height: auto;
   border-radius: 10px;
   transition: transform 0.3s ease-in-out;
}

.category img:hover {
   transform: scale(1.1);
}

.category p {
   font-size: 14px;
   margin-top: 10px;
   font-family: Georgia, serif;
}
.expcetion{
display: flex;
margin-left: -55px;

}
.expcetion img{
   height:500px;
   margin:3px;
}
@media (max-width:991px){

   html{
      font-size: 55%;
   }

}
@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgba(216, 90, 111, 0.753);
   height: 40%;
   margin-left: -150px;
   width: 90pc;
}
.footer-col{
  width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: rgb(252, 252, 252);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
	color: rgb(66, 3, 66);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: rgb(255, 242, 255);
	background-color: rgb(134, 17, 36);
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/*side menu bar*/
/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 270px;
  height: 100vh;
  background: rgb(216, 90, 111);;
  transition: all 0.4s ease;
}
.sidebar.collapsed {
  width: 85px;
}
.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}
.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}
.sidebar-header .sidebar-toggler,
.sidebar-menu-button {
  position: absolute;
  right: 20px;
  height: 35px;
  width: 35px;
  color: rgb(216, 90, 111);;
  border: none;
  cursor: pointer;
  display: flex;
  background: #EEF2FF;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-header .sidebar-toggler {
  transform: translate(-4px, 65px);
}
.sidebar-header .sidebar-toggler span,
.sidebar-menu-button span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}
.sidebar.collapsed .sidebar-header .sidebar-toggler span {
  transform: rotate(180deg);
}
.sidebar-header .sidebar-toggler:hover {
  background: #d9e1fd;
}
.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}
.sidebar .sidebar-nav .primary-nav {
  overflow-y: auto;
  scrollbar-width: thin;
  padding-bottom: 20px;
  height: calc(100vh - 227px);
  scrollbar-color: transparent transparent;
}
.sidebar .sidebar-nav .primary-nav:hover {
  scrollbar-color: #EEF2FF transparent;
}
.sidebar.collapsed .sidebar-nav .primary-nav {
  overflow: unset;
  transform: translateY(65px);
}
.sidebar-nav .nav-item .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 11px 15px;
  align-items: center;
  text-decoration: none;
  border: 1px solid rgb(216, 90, 111);;
  transition: 0.4s ease;
}
.sidebar-nav .nav-item:is(:hover, .open)>.nav-link:not(.dropdown-title) {
  color: rgba(216, 90, 111, 0.753);;
  background: #EEF2FF;
}
.sidebar .nav-link .nav-label {
  transition: opacity 0.3s ease;
}
.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon) {
  opacity: 0;
  pointer-events: none;
}
.sidebar.collapsed .nav-link .dropdown-icon {
  transition: opacity 0.3s 0s ease;
}
.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 35px;
  width: 100%;
  background: rgb(216, 90, 111);
}
.sidebar-nav .nav-item {
  position: relative;
}
/* Dropdown Stylings */
.sidebar-nav .dropdown-container .dropdown-icon {
  margin: 0 -4px 0 auto;
  transition: transform 0.4s ease, opacity 0.3s 0.2s ease;
}
.sidebar-nav .dropdown-container.open .dropdown-icon {
  transform: rotate(180deg);
}
.sidebar-nav .dropdown-menu {
  height: 0;
  overflow-y: hidden;
  list-style: none;
  padding-left: 15px;
  transition: height 0.4s ease;
}
.sidebar.collapsed .dropdown-menu {
  position: absolute;
  top: -10px;
  left: 100%;
  opacity: 0;
  height: auto !important;
  padding-right: 10px;
  overflow-y: unset;
  pointer-events: none;
  border-radius: 0 10px 10px 0;
  background: rgb(216, 90, 111);
  transition: 0s;
}
.sidebar.collapsed .dropdown-menu:has(.dropdown-link) {
  padding: 7px 10px 7px 24px;
}
.sidebar.sidebar.collapsed .nav-item:hover>.dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(12px);
  transition: all 0.4s ease;
}
.sidebar.sidebar.collapsed .nav-item:hover>.dropdown-menu:has(.dropdown-link) {
  transform: translateY(10px);
}
.dropdown-menu .nav-item .nav-link {
  color: #F1F4FF;
  padding: 9px 15px;
}
.sidebar.collapsed .dropdown-menu .nav-link {
  padding: 7px 15px;
}
.dropdown-menu .nav-item .nav-link.dropdown-title {
  display: none;
  color: #fff;
  padding: 9px 15px;
}
.dropdown-menu:has(.dropdown-link) .nav-item .dropdown-title {
  font-weight: 500;
  padding: 7px 15px;
}
.sidebar.collapsed .dropdown-menu .nav-item .dropdown-title {
  display: block;
}
.sidebar-menu-button {
  display: none;
}
/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .sidebar-menu-button {
    position: fixed;
    left: 20px;
    top: 20px;
    height: 40px;
    width: 42px;
    display: flex;
    color: #F1F4FF;
    background: rgb(216, 90, 111);
  }
  .sidebar.collapsed {
    width: 270px;
    left: -270px;
  }
  .sidebar.collapsed .sidebar-header .sidebar-toggler {
    transform: none;
  }
  .sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(15px);
  }
}